[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
aniso8601 = "*"
astroid = "*"
autopep8 = "*"
click = "*"
colorama = "*"
dominate = "*"
flask-blueprint = "*"
flask-redis = "*"
isort = "*"
itsdangerous = "*"
lazy-object-proxy = "*"
mccabe = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pylint = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
redis = "*"
six = "*"
toml = "*"
typed-ast = "*"
visitor = "*"
wrapt = "*"
Flask-Bootstrap = "*"
Flask-Cors = "*"
Flask-Login = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
PyJWT = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
gunicorn = "*"
gevent = "*"
flask = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
